<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>yourwords</title>
  </head>
  <body>
    <header>
      <nav>
        <img
          class="logo"
          src="/img/logo.png"
          alt="yourwords logo"
          loading="lazy"
        />
        <a href="/">Home</a>
        <a href="/reviews">Reviews</a>
        <a href="/search">Search books</a>
        <a href="/post">Post a review</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
      </nav>
    </header>
