<%- include("partials/header") %>

<h2>Featured reviews</h2>

<p><a href="/signup"> Sign Up </a> to get involved.</p>

<%- include("partials/footer") %>

<!-- Photo by Min An: https://www.pexels.com/photo/pile-of-assorted-novel-books-694740/ -->
