<%- include("partials/header") %>

<h2>Featured reviews</h2>

<p class="flip-card"><a href="/signup"> Sign Up </a> to get involved.</p>

<div class="home-search-box">
  <p>
    <span>Exlore the library</span> for inspiration on your next page turner,
    more information on a book you've read or scan genres.
  </p>
  <form action="/search" method="post">
    <input name="search-term" type="text" placeholder="Enter search term" />
  </form>
</div>

<%- include("partials/footer") %>

<!-- Photo by Min An: https://www.pexels.com/photo/pile-of-assorted-novel-books-694740/ -->
