<%- include("partials/header") %>

    <h1>Book reviews</h1>

    <div class="landing-zone">
      <button>Sign Up</button>
      <p>OR</p>
      <button>Login</button>
    </div>

    <%- include("partials/footer") %>

