<%- include("partials/header") %>

<div class="hero-container">
  <img src="../img/books.jpg" />
</div>

<h1>Book reviews</h1>

<p><a href="/signup" class="icon-link"> Sign Up </a> to get involved.</p>

<%- include("partials/footer") %>

<!-- Photo by Min An: https://www.pexels.com/photo/pile-of-assorted-novel-books-694740/ -->
