<%- include("partials/header") %>

<h1>Book reviews</h1>

<div class="container px-4 py-5" id="featured-3">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <h3 class="fs-2 text-body-emphasis">If you're new here...</h3>
      <p>
        Create an account in order to easily access your reviews. Upload and
        delete to your liking, and even keep a list of books for your reading
        list.
      </p>
      <a href="/signup" class="icon-link"> Sign Up </a>
    </div>
    <div class="feature col">
      <h3 class="fs-2 text-body-emphasis">Have an account?</h3>
      <a href="/login" class="icon-link"> Login here </a>
    </div>
    <div class="feature col">
      <h3 class="fs-2 text-body-emphasis">Feedback</h3>
      <p>
        Any suggestions for features YOU want are welcome. Drop them in the form
        below.
      </p>
      <a href="/feedback" class="icon-link"> Leave Feedback </a>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
