<%- include("partials/header") %>

<div class="center-div">
  <form class="login-form" action="/login" method="post">
    <p>Email:</p>
    <input class="form-control-lg" type="email" name="email" />
    <p>Password:</p>
    <input class="form-control-lg" type="password" name="password" />
    <input class="btn" type="submit" value="Login" />
  </form>
</div>

<%- include("partials/footer") %>
