<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Login</title>
  </head>
  <body>
    <header>
      <nav>
        <img
          class="logo"
          src="/img/logo.png"
          alt="yourwords logo"
          loading="lazy"
        />
        <a href="/">Home</a>
        <a href="/search">Search books</a>
        <a href="/post">Post a review</a>
      </nav>
    </header>

    <form class="login-form" action="/login" method="post">
      <p>Name:</p>
      <input type="text" name="reader-name" />
      <p>Pin:</p>
      <input type="text" name="reader-pin" />
      <input type="submit" />
    </form>
  </body>
</html>
