<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post a review</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <img
          class="logo"
          src="/img/logo.png"
          alt="yourwords logo"
          loading="lazy"
        />
        <a href="/">Home</a>
        <a href="/search">Search books</a>
      </nav>
    </header>
    <h1>Post a review below</h1>

    <div class="post-box">
      <form class="review-form" action="/review" method="post">
        <p>Title:</p>
        <input name="title" type="text" style="width: 500px" />
        <p>Author:</p>
        <input name="author" type="text" style="width: 500px" />
        <p>Review:</p>
        <textarea name="review" style="height: 200px; width: 500px"></textarea>
        <p>Your name:</p>
        <input name="reader" type="text" style="width: 500px" />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
