<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search the library</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <img
          class="logo"
          src="/img/logo.png"
          alt="yourwords logo"
          loading="lazy"
        />
        <a href="/">Home</a>
        <a href="/post">Post a review</a>
      </nav>
    </header>
    <h1>Search</h1>
    <form action="/search" method="post">
      <p>Search books:</p>
      <input name="search-term" type="text" />
    </form>

    <% if (locals.results) { %> <% results.forEach(result => { %>
    <p><%= result.title %> written by <%= result.author_name %></p>
    <p><%= result.first_publish_year %></p>
    <% }) %> <% } %>
  </body>
</html>
