* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswold", sans-serif;
}

body {
  background-color: #f8f4e1;
}

.logo {
  font-weight: bolder;
}

a {
  color: #543310;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bolder;
}

a:hover,
input[type="submit"]:hover {
  background-color: #af8f6f;
}

p a:hover {
  color: #f8f4e1;
}

h1,
h2 {
  font-family: "Bebas Neue", serif;
  text-align: center;
  padding: 20px;
  color: #543310;
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5rem;
}

.col {
  padding-bottom: 50px;
}

input[type="submit"] {
  display: block;
  margin: 5px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  background-color: #f8f4e1;
  color: #543310;
}

input {
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
  padding: 0;
  color: #543310;
}

form {
  margin: 20px 100px;
}

footer {
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 20px;
}

.rating {
  display: inline-block;
  border-radius: 50%;
  background-color: #fcdb03;
  height: 10px;
  width: 10px;
}

.hero-container {
  display: flex;
  width: 100vw;
  height: 20vh;
  border: 1px solid #543310;
}

img {
  min-width: 100%;
  object-fit: cover;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

span {
  font-weight: bold;
}

.home-search-box * {
  margin: 5px;
}

.home-search-box {
  background-color: #af8f6f;
  width: 400px;
  padding: 20px;
  margin: 10px 50px;
  border-radius: 10px;
  border: 10px solid #543310;
}

/* flip css */

.flip-card {
  background-color: #af8f6f;
  padding: 20px;
  border-radius: 10px;
  float: right;
  margin-right: 50px;
  width: 100px;
  animation: flip 10s infinite;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
