* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: #6e9eff;
}

.logo {
  margin: 20px;
  margin-right: auto;
}

h1 {
  color: #6e9eff;
  text-align: center;
  padding: 20px;
}

input[type="submit"] {
  border-radius: 10px;
  border: solid #ffaf00 1px;
  padding: 10px;
  background-color: #ffffff;
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5rem;
}

footer {
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 20px;
}
