* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  gap: 20px;
  border-bottom: solid #ffaf00 2px;
}

.logo {
  margin-right: auto;
}

nav a {
  text-decoration: none;
  align-self: center;
  color: #6e9eff;
}

nav a:hover {
  color: #ffaf00;
  font-size: 110%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 5%;
}

.review-box {
  padding: 1rem;
  border: solid 1px #6e9eff;
  border-radius: 5px;
}

input[type="submit"] {
  border-radius: 10px;
  border: solid #ffaf00 1px;
  padding: 10px;
  background-color: #ffffff;
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5rem;
}

footer {
  border-top: solid #ffaf00 2px;
  padding: 2rem;
  text-align: center;
}
